// Màu sắc
$primary-color: #00bcd4;
$secondary-color: #d32f2f;
$bg-color: #fcfcfc;
$text-dark: #333333;

// Font
$font-primary: Arial, Helvetica, sans-serif;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Spacing
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;